[2017-04-28 20:45] kirillzh opened #1 "Include annotations along with method names to allow filtering"
Since instrumentation allows filtering by annotation, it would be useful to include list of all annotations for each test method and the whole test class.

Also, in what format should the data be stored? CSV with different separators for columns and lists, or maybe JSON?

[2017-04-28 20:46] kirillzh opened #2 "Upload parser.jar as part of the release"

[2017-04-30 22:43] drewhannay commented on #2
Can you clarify what you're looking for here? That file should already be included in the release on jcenter / bintray:

https://bintray.com/linkedin/maven/parser/1.0.0#files/com/linkedin/dextestparser/parser/1.0.0

[2017-05-02 20:33] kirillzh commented on #2
Oh, I'm talking about release [here](https://github.com/linkedin/dex-test-parser/releases/tag/1.0.0), on GitHub. Since one of your usage examples uses jar file, it's unclear where to get this jar from. In such cases I think usually executables are included in repo releases.
Or it might be easier to add this [link](https://bintray.com/linkedin/maven/download_file?file_path=com%2Flinkedin%2Fdextestp

[2017-05-02 20:59] drewhannay commented on #2
Ah, gotcha. Yeah, we don't usually upload binaries to github releases, but adding the bintray link to README.md would work.

[2017-05-04 17:56] #2 closed

[2017-06-13 15:01] thalescm opened #3 "Parsing kotlin interfaces is wrong"
When using this library on a test apk which contains [kotlin interfaces](https://kotlinlang.org/docs/reference/interfaces.html) with methods annotated with `@Test`, this library will put the fully qualified name for this interface, when it shouldn't (it's not a runnable test unless you have a real class implementing it)

[2017-06-13 15:14] drewhannay commented on #3
Interesting...does this work properly when run with AndroidJUnitRunner alone? I was not aware that it's valid to annotate an interface method with `@Test`

[2017-06-13 16:04] thalescm commented on #3
@drewhannay It works properly with AndroidJUnitRunner.
Kotlin interfaces `can contain declarations of abstract methods, as well as method implementations` (as said in the documentation sent above). So it's possible to have an interface containing the implementation of a common method annotated with `@Test` (which is my case).

AndroidJUnitRunner probably make checks to see if it is a class to defi

[2017-06-19 14:55] drewhannay commented on #3
I think I understand the issue here, but any chance you can throw up a sample project somewhere that I can test against to ensure this gets fixed properly?

[2017-06-19 15:25] thalescm commented on #3
@drewhannay I'll try to find time to do that. Will let you know when that happens. And you can feel free to add the project's apk here (once created) in case you wanna unit test it to guarantee for future changes :D

[2017-06-19 21:17] sander-m commented on #1
Any update on this? This would indeed be useful.

[2017-06-19 21:31] kirillzh commented on #1
@sander-m, I've implemented it on my fork (https://github.com/kirillzh/dex-test-parser/commit/9b8d473d24a9f91dff099be835e2680733d015b8). I had to disable JUnit 3 tests though (I don't need them). Tests will be saved JSON format:
[code]

I'd create a PR but I didn't get any response in this ticket so I'm not sure what requirements are for the output.

[2017-06-19 21:47] drewhannay commented on #1
Sorry for not responding earlier....I'm not quite clear what the benefit of this would be. We do lots of filtering internally, but we just run the test anyway and let AndroidJUnitRunner decide to run or skip the test. The benefit of this approach is that the skipped tests will still show up in the JUnit test report as skipped, rather than missing entirely.

[2017-06-19 22:17] kirillzh commented on #1
No problem!

So how do you guys group your test cases? For example if I categorize my test cases as `smoke`, `regression`, etc. or maybe by `feature A`, `feature B`, etc., how do I run only `smoke` tests, or only `feature A` tests?

[2017-06-19 22:27] drewhannay commented on #1
We group our tests by package and run them that way (e.g. `com.example.smoke.featureA`, `com.example.regression.featureB`. Then if you wanted to run all the featureA tests, you'd just regex for `.featureA.`, or similarly package=`com.example.smoke` and run all the matching tests individually.

I was thinking you could choose to run a specific test (e.g. `-e class com.example.smoke.MyTest#foo`) and

[2017-06-19 22:44] kirillzh commented on #1
I see, `com.example.smoke.featureA` and `com.example.regression.featureB` is a pretty good idea, didn't think about it haha.
I group my tests by feature only though, so it's easier for me to convert test say from smoke to regression simply by changing annotation instead of moving it from one class to another.

And you're right, I could just run all tests with annotation filter, it won't run the te

[2017-06-19 23:18] sander-m commented on #1
Thanks @kirillzh I will have a look at that branch.

Currently our tests use class-level annotations to group them by type (Unit/Integration/UI etc), and I plan to use this dex-parsing for sharding test runs with Firebase Test Lab(https://cloud.google.com/sdk/gcloud/reference/firebase/test/android/run), which doesn't take annotation filters.

[2017-06-20 19:21] bootstraponline commented on #1
It would be really nice to have annotations support. As mentioned, the Firebase Test Lab expects a list of tests to run.

[2017-06-20 19:40] drewhannay commented on #1
I'm not opposed to adding that if it's useful. Do you all think it's a requirement to have it write the data to a file? If we only expose this through the Java/Kotlin api, then we don't need to worry about the file format.

I'm guessing you'll want it as a file though, if your test harness isn't written in a JVM language (for us, our test harness is a gradle plugin, so we don't even use the file o

[2017-06-20 19:45] bootstraponline commented on #1
I just checked with the Firebase team and they support filtering by annotations. It's just undocumented.

gets translated to something like:

- [AndroidJUnitRunner](https://developer.android.com/reference/android/support/test/runner/AndroidJUnitRunner.html)
- [running subset of espresso tests](https://medium.com/@satyajit/running-subset-of-espresso-tests-locally-and-gcloud-4713931da56)

---

I thi

[2017-06-21 15:11] bootstraponline commented on #1
I found a use case. The default [AndroidJUnitRunner](https://github.com/bootstraponline/platform_frameworks_testing/blob/android-support-test/runner/src/main/java/android/support/test/internal/runner/TestRequestBuilder.java#L718) only allows running a single annotation. If you want to run multiple annotations (SmallTest & LargeTest), then you'd have to write a custom test runner.

If the `dex-test

[2017-06-22 13:16] thalescm commented on #3
Hi @drewhannay.

Made the sample project [here](https://github.com/thalescm/DexParserKotlinInterfaceBugApp)

There's a README explaining the situation there as well. Also, there's a folder `apks` on it with the apks so you don't have to build the project to get them :)

[2017-07-05 20:55] drewhannay commented on #3
@thalescm I spent some time working on this today and I think there are multiple things going on here. This is a fun one 😄   Also, your sample project was EXTREMELY helpful, so thanks for making it.

First, `@Test` on an interface method seems to me like it would never be a real test method, whether java or kotlin. I could reproduce the dex-test-parser bug with this Java interface as well:
[code]

[2017-07-05 21:12] yogurtearl commented on #3
I agree you should NOT escape the `$`. The need for escaping is a implementation detail of the shell, not part of the class name.

[2017-07-05 22:17] drewhannay opened #5 "Add Android module to for testing"
I've got some test apks that I use locally to test changes to dex-test-parser, but there really should be an Android app module checked in that has a comprehensive set of JUnit 3 and JUnit 4 tests, in both Java and Kotlin, so that we can have automated tests for the project.

[2017-07-06 02:16] drewhannay commented on #1
I believe I have this working locally for both JUnit 3 and JUnit 4. I'll put up a PR either tomorrow or sometime next week, after doing some more testing. I might implement #5 first, to have better regression coverage, because this is a fairly significant change.

One thing to note, gathering all this extra annotation information _does_ have a performance overhead. I've been testing against an apk

[2017-07-06 11:31] thalescm commented on #3
@drewhannay Awesome man!
Thanks so much for dedicating time to it, and for that detailed explanation about the real problem underneath!

I agree with you and @yogurtearl that it's not this libs responsibility to scape the `$` symbol on the result.

As of my case, in this meanwhile, your suggestion makes sense. Thanks!

[2017-07-10 21:56] #3 closed

[2017-07-11 17:11] #5 closed

[2017-07-13 00:45] #1 closed

[2017-07-13 22:50] drewhannay commented on #1
This is checked in and released in 1.1.0! 😄

[2017-07-13 23:27] bootstraponline commented on #1
Awesome. Thank you!!

On Thu, Jul 13, 2017, 6:50 PM Drew Hannay <notifications@github.com> wrote:

[2017-07-17 15:02] drewhannay commented on #3
Created two Android bug tracker issues:
https://issuetracker.google.com/issues/63752700
https://issuetracker.google.com/issues/63753968

[2017-09-06 21:02] zsperske opened #8 "Get annotation values?"
Thanks for building this! We're planning on using this as part of our test process and I was wondering, we can fetch annotation names but how about their values? "@ Foo("Bar")". I've just pulled down the code and was planning on investigating myself but just wanted to check in and see if there was anything that stopped you?

[2017-09-07 00:33] drewhannay commented on #8
What would be the use case? I'm a bit worried that it's a slippery slope towards this project turning into a full blown decompiler for test apks, which wasn't really the intention or goal of the project :)

[2017-09-07 15:05] zsperske commented on #8
Haha that's fair, though I do think this could be useful. We use toggles with various states (production, preview, internal) to expose/hide features in different environments. I'm working on building annotations for our tests like @ ActivatedBy("Toggle1") which would only run that test if that toggle was active in the environment the test was running on. Similarly @ DeprecatedBy("toggle1") would n

[2017-09-11 22:42] zsperske commented on #8
Any thoughts on this guy? One option on our end is to create annotations for each toggle but... we'd prefer not to do that.

[2017-09-11 23:21] drewhannay commented on #8
I think an alternate way of doing what you're describing would be to use the JUnit `assumeTrue()` method and just skip the tests that don't apply at runtime instead of trying to to filter them out ahead of time.

For example, in your rule that processes the `@ActivatedBy` annotation, you could have something like `assumeTrue(currentToggle.equals(annotation.value())`. Then the test would show up as

[2017-09-13 04:37] zsperske commented on #8
Ah that's an interesting idea, thanks for your responses! Will close this.

[2017-09-13 04:37] #8 closed

[2018-01-23 22:23] Macarse opened #9 "Reading annotation's parameters"
I would like to get an extension to https://github.com/linkedin/dex-test-parser/issues/1

Apart from having the annotation, I would like to be able to read the parameters.
`TestMethod` could have an `annotations: List<Annotation>` instead of `annotationNames: List<String>` where `Annotation` contains the name + parameters dictionary.

Use case:
We are using Test Rail to track our regressions.
We w

[2018-01-25 23:47] Macarse commented on #9
ping?

[2018-01-26 17:32] drewhannay commented on #9
To me, this feels out of scope for dex-test-parser, since the information gathered isn't actually needed to determine which tests to _run_. We've had requests for this before (see #8 ) but I don't think it's something that dex-test-parser should be handling.

One alternative solution for you, if you're always going to be building the test code before running tests, you could use an annotation proc

[2018-01-26 20:08] Macarse commented on #9
re: out of scope for dex-test-parser:
I was reading your code and I notice you are already parsing the values into `EncodedValue`. It just needs a better structure to be usable from the API.

I have been playing with the code to implement this change myself. So far I didn't have issues parsing ints/boolean from the `EncodedValue` objects but I am having issues with strings. I don't fully understan

[2018-01-30 01:33] drewhannay commented on #9
Yeah, there's a fair amount of stuff that needs to be parsed but ultimately isn't used, just because of how the code is written. I understand that it probably would be easy to add this, but I don't want this project to slowly grow into a full blown dex decompiler :)

I already mentioned the annotation processor idea, but another one that we actually use for our tests is just to have the test itsel

[2018-01-30 03:01] Macarse commented on #9
@drewhannay if you are reading information after the test is run, I suppose that's dynamic information, not static as the problem I am trying to solve.

I don't agree that parsing the annotation value is turning dex-test-parser into a dex decompiler, but you are the maintainer, so you will make the final call on what gets added and what does not.

Do you mind answering how can I get the string val

[2018-01-30 16:55] drewhannay commented on #9
I haven't tried this, but I'm guessing your issue is that `ParseUtils::parseStringBytes` expects to read the string out of a `ByteBuffer`, but the `EncodedValue` has already turned that part of the buffer into a byte array. I would think you could just construct a new String out of the byte array in `EncodedValue.value` and that would work.

[2018-02-15 22:14] adecker89 commented on #9
I have another use case of this feature which I think would be within the scope of determining which tests to run.

I'm currently making use of the standard Junit Category annotation to separate out my tests.
https://junit.org/junit4/javadoc/4.12/org/junit/experimental/categories/Category.html

With this setup, the annotation name alone is not enough for me to determine whether or not to run the t

[2018-02-16 05:27] Macarse commented on #9
@drewhannay I missed your msg. @adecker89 thanks for the reminder :)

@drewhannay I tried to do what you said, but I couldn't make it work.
My example is the following:

[code]

I added some logs around `toDescriptorList()` and what I see is:

[code]

if I replace the id "1" for a longer string like "hello world!"
my log shows:
[code]

It seems like the byte array contains an address instead of th

[2018-02-16 21:18] drewhannay commented on #9
@Macarse Check [this part](https://source.android.com/devices/tech/dalvik/dex-format#encoding) of the dex format spec for the exact details of how these bytes are encoded. It looks like it varies based on the type of data in the `EncodedValue`. Sorry, my last reply was from my phone and from memory rather than checking the spec.

@adecker89 Okay, I agree, that's probably a reasonable use case. And

[2018-02-20 23:01] Macarse commented on #9
This is what I know so far:

Based on the docs, if the encoded value is `VALUE_STRING` the value should be an `unsigned (zero-extended) four-byte integer value, interpreted as an index into the string_ids section and representing a string value`.

As you can see from my logs, the `value` ByteArray contains only two bytes, not 4.

Playing a bit with the code, I did the following:
[code]

as a resul

[2018-02-21 17:36] bootstraponline opened #10 "Disable printlns"
[code]

These printlns always execute. There should be a way to toggle them off.

[2018-03-04 02:36] drewhannay commented on #10
@kkoser can you fix this with your PR for #9? Might be easiest to just remove them...I only had these lines for my own debugging while developing.

[2018-03-04 02:38] drewhannay commented on #9
Sorry for the delay again. @kkoser from my team has been working on this and should have a PR soon.

[2018-03-22 05:43] kkoser commented on #9
Hey super sorry! I had to step away from this for a bit, but I'm back now and I will have this up by Friday. Sorry again!

[2018-03-27 06:12] kkoser commented on #9
See #11

[2018-05-02 16:35] grepx opened #12 "Crashes for apks built with minSdkVersion 24 or greater"
Hi,

I found this crash in the Flank test runner project, but it appears to be coming from the dependency with this project. I get the following crash on apks built with minSdkVersion 24 or greater:

[code]

As an upstream user of this project, thanks for all your hard work! By the way I posted the Flank issue here https://github.com/TestArmada/flank/issues/165

[2018-05-02 17:11] drewhannay commented on #12
Thanks for the report, this is useful! I probably won't have time to take a look at this until after Google I/O next week, but I'll follow up.

[2018-05-02 17:39] bootstraponline commented on #9
Is this issue safe to close? It looks like the PR was merged.

[2018-05-02 17:40] drewhannay commented on #9
Yep, good call.

[2018-05-02 17:40] #9 closed

[2018-05-02 18:33] Macarse commented on #9
Thanks!

[2018-05-04 18:36] bootstraponline opened #13 "Abstract @Test method"
I think it's a bug that this test is detected as valid.

[code]

[2018-05-07 02:49] drewhannay commented on #13
The subject says Kotlin, but the code snippet is Java code. It looks like this is an issue in both languages though. I'm not sure if there's any valid reason to have `@Test` on an abstract method in JUnit, but I'll do some research.

I probably won't have time to take a look at this until after Google I/O next week, but I'll follow up.

[2018-05-07 06:02] bootstraponline commented on #13
I'm at I/O this week as well. We're using dex-test-parse to power Flank. It'd be cool to meet up if our schedules align. I'm on the firebase slack if you want to chat.

https://firebase.community

I worked around this issue by removing the annotation.

[2018-06-01 14:47] rdiaz82 commented on #12
Confirmed! I got the same error using minSDK greater than 24. In order to check I changed to minSDK 18 and it works smoothly. Any idea?

[2018-06-08 08:58] rdiaz82 commented on #12
Hi, I have checked the code and I think that I found the bug source. The problem is caused because in android 7 the magic dex version has changed from 035 to 037 and in Android 8 it changes again from 037 to 038. here is further information about it https://source.android.com/devices/tech/dalvik/dex-format#dex-file-magic I have forked the repo and I going to try just to change the version to see i

[2018-06-08 17:42] rdiaz82 commented on #12
Implemented a simple solution in PR #14

[2018-06-14 15:46] #12 closed

[2018-06-15 16:44] bootstraponline opened #15 "New release"
It'd be great to have a new release now that https://github.com/linkedin/dex-test-parser/pull/14 has been merged.

[2018-06-15 17:09] rdiaz82 commented on #15
It would be great a new release!!

[2018-06-21 23:46] kkoser commented on #13
I just did some testing on this in a test project, and it looks like adb instrument with the Junit4 runner DOES notice and run implementations of abstract methods that were annotated with @Test, even if the concrete implementation of that method does not. So it's probably also something dex-test-parser should support, although I'm having trouble thinking of a good reason to use this functionality.

[2018-06-22 16:30] drewhannay commented on #15
This is definitely on our radar. @kkoser is working on the other two open issues - current plan is to do a release after those are addressed.

[2018-07-10 14:42] bootstraponline commented on #13
The issue is causing problems for Flank.
- https://github.com/TestArmada/flank/issues/253

For Firebase Test Lab, we need the ability to filter out the abstract classes.

[2018-07-10 15:47] bootstraponline commented on #13
[code]

that seems like a valid use case? I'm not sure there's an easy way to resolve methods in the same way.

[2018-07-19 22:32] kkoser commented on #13
See #16 for a solution

[2018-07-23 16:51] kkoser commented on #10
Removed these logs in #16

[2018-07-23 20:22] #10 closed

[2018-07-23 20:23] drewhannay commented on #13
Fixed by #16

Note that this is only fixed for JUnit 4 tests, not JUnit 3. Since Google has deprecated the JUnit 3 base classes in the Android SDK and is now recommending that new tests should be written with the Android Testing Support Library (which is JUnit 4), it's extremely unlikely we'll fix this issue for JUnit 3 (it's not a very straightforward change at all, and would likely have a negati

[2018-07-23 20:23] #13 closed

[2018-07-31 23:49] rdiaz82 commented on #15
Hi! do you have any plans to update the release version after fix all opened tickets? It would be great have a new library version with all these fixes

[2018-07-31 23:57] bootstraponline commented on #15
Agreed, we'd love to pull the new fixes into Flank.

[2018-08-01 00:09] drewhannay commented on #15
Ah, I thought I had done this already but I think I only released Test Butler and dexmaker 😅

I'll take care of this tomorrow, my apologies.

[2018-08-01 20:52] drewhannay commented on #15
I just published [2.0.0](https://github.com/linkedin/dex-test-parser/releases/tag/2.0.0), enjoy 😉

[2018-08-01 20:52] #15 closed

[2018-08-01 21:06] bootstraponline commented on #15
Thank you!!

[2018-08-02 14:41] zlippard opened #17 "Support Parameterized Runner"
Was looking to get support for the `Parameterized` runners.  Currently this is an issue in Flank (https://github.com/TestArmada/flank/issues/61) but it sounds like the support for this type of runner needs to be enabled here first.

[2018-08-02 14:44] zlippard commented on #17
I would be willing to help contribute for this request, but wasn't sure where to start for supporting this runner type.

[2018-08-02 20:57] drewhannay commented on #17
I did some quick testing and I don't see any issues with dex-test-parser for this. I can put up my sample code later today, but it seems like we find the test methods as expected.

On another note though, I'd strongly recommend against using the `Parameterized` runner on Android, because it makes it impossible to run each instance of the test in its own isolated instance of the application. This i

[2018-08-02 21:02] drewhannay commented on #17
Here's the sample I used:
https://gist.github.com/drewhannay/4c838f1aa577050f85ed6ab268098099

When I run this from Android Studio, it invokes:
`adb shell am instrument -w -r   -e debug false -e class 'com.linkedin.parser.test.junit4.java.ParameterizedTest#sampleTest' com.linkedin.parser.test.test/android.support.test.runner.AndroidJUnitRunner`

When I run dex-test-parser, it outputs:
`com.linkedi

[2018-08-02 21:11] zlippard commented on #17
Thanks so much for the confirmation @drewhannay!  Was this fixed perhaps with the `2.0.0` release?  It was the impression of the Flank devs that `Parameterized` was not recently supported in this library.   So maybe the new release is what is supporting this runner?

Will also take your suggestion in to account regarding the use of this runner in general.

[2018-08-02 21:12] drewhannay commented on #17
I don't know of any reason this wouldn't have worked in older versions of dex-test-parser, although I haven't tested that.

[2018-08-02 21:29] #17 closed

[2018-08-12 21:31] vrunoa opened #18 "parser.jar not working from command-line"
I rebuild the project from source and when trying to use `java -jar` the command-line fails.

Steps to reproduce:
[code]

Error
[code]

Environment
[code]

[2018-08-12 23:46] drewhannay commented on #18
I think the problem here is you're trying to run with the wrong jar file. You should be using:

[code]

Note the `-all` in the filename. The one you're using is the jar that doesn't include all dependencies and is used when consuming the project from Gradle rather than CLI. That jar probably doesn't need the main class set, but we DO set it already in the `-all` jar (see [this line](https://github

[2018-08-13 12:08] vrunoa commented on #18
@drewhannay yeap you were right. Closing this issue. Perhaps we can make a note on the README.md for people to make sure to use`-all` libs when running it from command-line.

[2018-08-13 12:08] #18 closed

[2018-09-19 09:34] winterDroid opened #20 "Filter default methods"
We have a weird test structure where we have Kotlin interfaces implementing test methods as default implementations.  The actual test classes implement those interfaces. Unfortunately the default methods in the interfaces are also returned by `findTestMethods`.

[2018-09-21 06:51] winterDroid commented on #20
This could be fixed eg by filtering invalid test methods. The invalid generated test methods are static and take an argument.

[2018-09-21 07:10] winterDroid commented on #20
Seems to be the same as #13 just with default methods

[2018-09-21 19:43] hpedrorodrigues opened #21 "BufferOverflowException running parser"
When using this library on a test APK I have the following error:

[code]

Investigating this issue, I found this [function][function].

[code]

It allocates a `HeapByteBuffer` with capacity equals `fullSize` value.
What is a problem when the value of variable `size` is negative, because in this [line][function-for] it will try to put `(fullSize - size)` bytes, inside for-loop.

**For instance**:

[2018-10-02 16:48] kkoser commented on #21
We'll be tackling this next sprint (so mid october). PRs are also welcome if you need the fix faster :)

[2018-10-09 04:13] bootstraponline commented on #20
If you could provide a minimal reproducible example, that'd be helpful in resolving this.

[2018-10-09 16:38] winterDroid commented on #20
Sure. It is just a default interface method annotated with `@Test` as
[code]

[2018-10-15 21:29] kkoser commented on #20
I agree that we should be filtering these out - interfaces are not instantiable, and I tested this with the standard adb instrument and it does not find this class by default. I'll look at how we can filter this out, not sure what the representation of default methods is in the dex format atm

[2018-10-26 23:08] #21 closed

[2018-10-31 22:44] dazza5000 opened #25 "How to troubleshoot an "invalid LEB128 sequence" exception?"
We are getting the following exception when running the DexParser via Flank:

[code]

I put a screenshot of what the debugger looks like when the exception is thrown below. How would I go about debugging what the issue is. Thank you!

![screen shot 2018-10-31 at 5 40 18 pm](https://user-images.githubusercontent.com/1117489/47823079-9608d800-dd34-11e8-8546-1ac37ee9a7d8.png)

[2018-10-31 22:47] dazza5000 commented on #25
P.S. Thank you for the tool!

[2018-11-08 18:19] doodla opened #26 "@Inherited annotations aren't detected"
My annotation classes look like this -

[code]

For a test structure like this -

[code]

Using `adb shell am instrument -w -e annotation 'com.company.mobile.ScreenshotTest` works as expected and picks up `ScreenshotTestA`.

However, when using dex-parser, the `@Test` methods in `ScreenshotTestA` don't have the `@ScreenshotTest` annotation.

To get around it, instead of only having the annotation

[2018-11-12 21:09] hongbinh commented on #25
I'll provide some instructions before 11/21

[2018-11-13 01:26] dazza5000 commented on #25
no rush - we modified our project (we are using kotlin and java) and everything builds now - we think this had to do with the metadata that the kotlin compiler puts at the top of class files

[2018-11-21 01:03] hongbinh commented on #25
@dazza5000, since you worked around it, we lowered the priority of this issue.

[2018-12-05 00:03] drewhannay commented on #25
@dazza5000 do you have a way we can reproduce this issue? Otherwise it might make sense to just close this until we have more info

[2018-12-05 18:39] dazza5000 commented on #25
Sounds good. Apologies, but I found this on a large work project and I would not have permission to post the project here. Thank you for looking at it!

[2018-12-05 18:39] #25 closed

[2018-12-12 15:10] winterDroid commented on #20
Any updates? :)

[2018-12-12 15:52] winterDroid commented on #26
yeah that would be awesome!

[2018-12-12 17:38] kkoser commented on #20
This was fixed with #22 . I think we still need to do a release that contains that fix though - @drewhannay can you help out with that?

[2018-12-13 17:44] hongbinh commented on #26
We will look into this in more details next quarter, thanks for your patience.

[2018-12-13 23:21] drewhannay commented on #20
2.0.1 has been released

[2018-12-13 23:21] #20 closed

[2018-12-14 10:31] winterDroid commented on #20
Great thanks @drewhannay!

[2019-01-25 19:54] bootstraponline opened #30 "Maven central?"
It'd be nice if the artifact was published to maven central.

[code]

I think bintray can even automate this for you:
https://blog.bintray.com/2014/02/11/bintray-as-pain-free-gateway-to-maven-central/

[2019-01-31 20:56] bootstraponline opened #31 "com.linkedin.dex.spec.DexException: Invalid dexMagic"
SDK 28 is breaking dex test parser.

[code]

[2019-02-13 19:09] hongbinh commented on #31
Seems your build has a new version number (0x39 / 57) even though it's not mentioned here yet: https://source.android.com/devices/tech/dalvik/dex-format#dex-file-magic
Adding 0x39 at this line should solve the problem:
https://github.com/linkedin/dex-test-parser/blob/8cde911a38de0ee969de704e5c6d53346a7fc885/parser/src/main/kotlin/com/linkedin/dex/spec/DexMagic.kt#L24

[2019-02-25 17:38] drewhannay commented on #30
I agree it would be nice, but at the moment we have a somewhat standardized process for publishing open source artifacts from LinkedIn and it would be a bigger ask to add maven central to that pipeline. It might happen someday but I don't think it'll be prioritized in the near future

[2019-02-25 17:38] #30 closed

[2019-02-26 17:03] hongbinh commented on #31
PR #32 is published for review

[2019-03-14 17:48] hongbinh commented on #26
Fixed in https://github.com/linkedin/dex-test-parser/pull/27

[2019-03-14 17:48] #26 closed

[2019-03-14 17:49] hongbinh commented on #31
Fixed in https://github.com/linkedin/dex-test-parser/pull/32

[2019-03-14 17:49] #31 closed

[2019-03-27 17:59] bootstraponline opened #33 "New release?"
Now that https://github.com/linkedin/dex-test-parser/pull/32 has been merged, it'd be great to have a new release. 😁

[2019-03-29 20:13] carlospaulino opened #34 "invalid LEB128 sequence"
For a while I’ve been trying to debug why I get `invalid LEB128 sequence` when working with some test apks. From what I can tell this occurs more often with binaries built with java 7 compatibility. It doesn't occur with binaries built with java 8 compatibility.

I created a sample repo with two almost identical applications with the only difference being the compile compatibility.

[code]

Repo i

[2019-04-02 20:20] hongbinh commented on #34
@kkoser found the actual problem is in DecodedValue.kt:54 , we will send a PR with some added tests soon.

[2019-04-02 20:31] hongbinh commented on #34
I think I'll add a readUnsignedLeb128Long(byteBuffer: ByteBuffer) to return long as the fix

[2019-04-03 16:30] carlospaulino commented on #34
@hongbinh @kkoser Thanks a lot. I am looking forward to the next release.

[2019-04-03 22:05] hongbinh commented on #33
We might wait a little for #36  to go in before make a new release, thanks for your patience!

[2019-04-04 19:24] #34 closed

[2019-04-04 23:42] drewhannay commented on #33
Version [2.1.0](https://github.com/linkedin/dex-test-parser/releases/tag/2.1.0) has been released :)

[2019-04-04 23:42] #33 closed

[2019-04-05 14:00] bootstraponline opened #37 "Ljava/lang/annotation/Inherited; annotation is not found in the test output"
After updating Flank to use `dex-test parser 2.1.0` @gtroshin reported this crash.

[code]

Flank is calling `findTestMethods` which fails. I think this is a bug in `dex-test-parser` Here's the full stack trace:

[code]

https://github.com/TestArmada/flank/pull/538

[2019-04-08 17:40] jasmsu commented on #37
Thanks for the report! We'll take a look and get back to you.

[2019-04-09 17:59] jasmsu opened #38 "Testing, please ignore"
Sorry for the spam!

[2019-04-09 18:00] #38 closed

[2019-04-18 20:11] kkoser commented on #37
Thanks! I have an idea as to what is causing this, going to take a look next week. @gtroshin if you could provide a sample apk to repro with, that would be useful in verifying the fix.

[2019-04-19 17:35] #37 closed

[2019-04-19 18:22] kkoser opened #40 "Test issue"
Please ignore, testing triaging

[2019-04-19 18:23] #40 closed

[2019-04-22 15:02] carlospaulino opened #41 "New release for fix #37"
Since #37 has been merged, would it be possible to get a new release ?

[2019-04-23 18:14] drewhannay commented on #41
Version [2.1.1](https://github.com/linkedin/dex-test-parser/releases/tag/2.1.1) has been released.

[2019-04-23 18:14] #41 closed

[2019-04-23 18:40] carlospaulino commented on #41
Thanks a lot

[2019-10-21 14:26] alex-tiurin opened #42 "Get all tests of Suite"
Hi. Could you please help me to get the list of all test classes inside SuiteClasses annotation? I didn't find the way to do it.
[code]
For example, in case above I would like to get TestClassA, TestClassB and TestClassC. After that I want to filter my tests and run only test from these classes.

So, the main purpose is to run the tests of AllSmokeSuite.

[2019-10-30 00:25] kkoser commented on #42
Hi! We don't currently support filtering by test suites via the CLI (want to keep it as simple as possible). You could do this with the Java API  manually if you wanted to use it - the class annotations will all be part of the `TestMethod#annotations` field, and you can simply filter your tests out by looking through these annotations for one with the desired. Looks like we were missing support fo

[2019-10-31 17:22] kkoser commented on #42
I've merged #43 which adds support for array types in annotation parsing, so you should be able to use that to parse out this annotation, get the values, and then filter teests according to those classes.

[2019-11-12 14:01] alex-tiurin commented on #42
Thanks, it works really good! You've saved my day!

[2019-11-12 14:01] #42 closed

[2019-12-12 12:03] lukaville opened #45 "Multidex abstract test class issue"
Hi,
We use this library for extracting tests to run from apks and we have recently noticed that parsed test count is not stable. We run it on CI and sometimes a few test methods are not parsed. After some investigation, it turns out that these methods are defined in base test classes.

I checked two apks: the first one where we don't have tests from a base class and the second one where these test

[2019-12-12 21:44] kkoser commented on #45
Thanks for raising this! I could have sworn multidex made some guarantees on the ordering of dex files, but looking back at thee docs looks like its only for the main dex file :( Appreciate you raising the PR! I'm going to try and take a look this weekend

[2020-01-30 23:42] doodla commented on #26
#26 was supposedly fixed in #27 but it doesn't look like the fix worked.

I've attached a sample Android project and a parsing test project which verifies that the annotations aren't parsed by `dex-test-parser`. If I'm doing something wrong, please let me know. This issue should be reopened in the meanwhile.

@hongbinh @Malinskiy

[DexParserSample.zip](https://github.com/linkedin/dex-test-parser/f

[2020-01-30 23:43] doodla opened #47 "Unable to build the project"
The project dependencies are extremely out of date and there are no instructions on how to get it to run locally.

I tried Android Studio, but it just wouldn't build.

Android Studio -> Import Project -> Gradle Project

[2020-01-30 23:47] doodla commented on #26
Some additional info.

[code]
Annotating a class like this makes the `EspressoTest` annotation show up, and the `inherited` property is `true`. But it's useless at this point, unfortunately, because the whole point of the `@Inherited` annotation is so I wouldn't have to annotate it on subclasses.

![image](https://user-images.githubusercontent.com/3683106/73500539-d1e77e80-4377-11ea-8e5f-c094d1070

[2020-01-31 00:32] jasmsu commented on #47
Hey there! This isn't an Android project, so I wouldn't suggest using Android Studio as an IDE to build this. Intellij (or some other Java IDE) may be a better choice, and may solve some of the issues your were hitting. If you're still having trouble building, please pass along some more details on what went wrong with the build. Thanks!

[2020-02-20 17:09] #45 closed

[2020-06-11 05:45] bootstraponline opened #49 "New release?"
It'd be great to have a new release to capture the latest fixes on master. I'd like to use this in Flank.

[2020-06-11 19:21] drewhannay commented on #49
Thanks for the ping. [Version 2.2.1](https://github.com/linkedin/dex-test-parser/releases/tag/2.2.1) has been released.

[2020-06-11 19:21] #49 closed

[2021-02-04 07:03] drewhannay commented on #47
With #52, the dependencies should mostly all be updated and be buildable in a modern Android Studio or IntelliJ. We'll likely continue to make more improvements to the build setup as we work towards publishing on Maven Central instead of JCenter, but I think the current state is sufficient to close this ticket. Sorry for the long delay 😢

[2021-02-04 07:03] #47 closed

[2021-07-21 06:21] inez opened #69 "Inherited method annotations are missing"
Consider this change:
[code]
in the output `com.linkedin.parser.test.junit4.java.ConcreteTest#abstractTest` should have both `org.junit.Ignore` and `org.junit.Test` applied (present in `annotations` property), but it actually has none.

[2021-07-21 06:34] inez commented on #69
Seems like this change potentially fixes it:
[code]

[2021-07-21 19:22] drewhannay commented on #69
I think the fix may be more complicated than that unfortunately. Consider this case:

[code]

In this case, if I run all tests in `ConcreteTest`, the `abstractTest` method is NOT ignored (overriding the method and adding `@Test` takes precedence over the `@Ignore` in the abstract class).

I do agree it looks like there's a bug to fix for the case when the abstract method is not overridden though.

[2021-08-16 17:17] kkoser commented on #69
I'm working on a solution that I think will cover all the cases here - the general gist is that you need to differentiate overridden methods from non-overridden ones, and choose what annotations to pass accordingly. Test cases for this have revealed some other bugs which I'm workin on fixing, should have a PR by EOD. Sorry for the delay!

[2021-08-19 13:07] BugsBunnyBR opened #70 "Error while trying to run android tests with proguarded debug build"
Hello there, I am using Flank to run UI Tests on Firebase Test Lab, and when I run proguard over my build I get this error that seems related to this library.

I am using AGP 4.4.2. I tried to create a minimal repro project, but I couldn't.
Would you have any ideas of what can be happening ?

[code]

[2021-08-23 16:35] kkoser commented on #70
Hmm, a few preliminary questions:
-do you use any custom annotations in your tests?
-do you utilize test class inheritance?
-do you have multiple test dex files? How large is your project?

It sounds like its possible proguard is stripping out an annotation but isnt entirely getting it and there's still references in the dex somewhere? Not sure. Would you be comfortable sharing your proguard confi

[2021-08-30 23:47] #69 closed

[2021-08-31 20:20] kkoser commented on #69
#71 should fir this, if you could test and confirm @inez that would be great!

[2021-09-03 15:47] juliocbcotta commented on #70
Sorry for the delay, I was on vacations.

I don't use any custom annotations, just Test, RunWith and Suite.SuiteClasses.
Yes, I do utilize test class inheritance.
Yes, The apk and test apk generate multiple dex files. Around 70 AndroidTests for 400k loc in the project.

I am able to run the UI tests from Android Studio (debug but with proguard enabled). Just when using flank/fladle I get that outp

[2021-09-20 14:05] juliocbcotta commented on #70
@kkoser does the information I provided help ?

[2021-09-23 12:49] juliocbcotta commented on #70
I was able to fix it by updating r8 to the latest version available. Thanks for the help and sorry for the trouble.
[code]

[2021-09-23 12:49] #70 closed

[2021-11-23 19:25] inez commented on #69
@kkoser I took a brief look yesterday and it looks valid - over next few weeks I will try to implement it (dex-test-parser) as an alternative parser to the one we are using now (apktool based one) - and continuously compare results to find out about differences.

[2022-01-24 08:24] dmitry-ryadnenko-izettle commented on #70
We have the same issue with Android Gradle Plugin 7.0.4. Should this be reopened?

[2022-01-24 19:55] bootstraponline commented on #70
I'd recommend opening a new issue, since it looks like you're still encountering the problem on the latest version of r8.

[2022-02-18 17:31] dmitry-ryadnenko-izettle opened #72 "java.nio.BufferUnderflowException while trying to run android tests with proguarded build on compileSdkVersion 31"
The same as https://github.com/linkedin/dex-test-parser/issues/70.

Reproduced with AGP 7.0.4, 7.1.1. When compileSdkVersion is set to 31. Everything works great when compileSdkVersion is 30.

R8 version is 3.1.51 (AGP 7.1.1 one).

This blocks us from upgrading a lot of dependencies, including upgrading Kotlin to the latest version.

We run Flank using Java 11.

[code]

[2022-02-26 07:36] dmitry-ryadnenko-izettle commented on #72
Also, funny thing, this issue blocks us from using M1 Macbooks. Because there is a bug in Room 2.3 that breaks kapt on M1 Macbooks. It is fixed in Room 2.4. To upgrade to Room 2.4 we need to update our compileSdkVersion to 31. And after we update our compileSdkVersion to 31 Flank breaks because of this here issue.

[2022-02-28 17:21] kkoser commented on #72
Sorry for the delay, I'll look into this this week. Interesting that room 2.4 breaks it, could be some code DTP doesn't understand or just a bad transitive dependency. Hopefully that will be enough to repro and dig in

[2022-03-01 08:04] dmitry-ryadnenko-izettle commented on #72
@kkoser That's because Room's 2.3 SQLite doesn't support M1 chips. See https://stackoverflow.com/questions/68884589/caused-by-java-lang-exception-no-native-library-is-found-for-os-name-mac-and-o. But this Room issue is not related to this here issue.

[2022-03-01 08:06] dmitry-ryadnenko-izettle commented on #72
The issue we have is that we can't upgrade to `compileSdkVersion 31`.

[2022-03-01 14:29] dmitry-ryadnenko-izettle commented on #72
@kkoser I'm trying to build and run this, but I'm getting this error when I run assembled parser.jar

[code]

It looks like this is connected somehow to JVM versions I use to build or run parser.jar. Do you have any quick hint how to get around this?

[2022-03-01 14:36] dmitry-ryadnenko-izettle commented on #72
Alright, managed to get around this by doing this

[code]

[2022-03-01 15:08] dmitry-ryadnenko-izettle commented on #72
Can't reproduce this locally without using Flank. Which JDK do you use for building this project?

[2022-03-02 18:32] dmitry-ryadnenko-izettle commented on #72
Did some investigation today. Removed all the tests from the app. Still got the error. Kept removing code from the androidTest source set. Managed to find out that the cause of the error is withing our Dagger setup. Removing our Dagger setup stops the error from occurring. It will be hard to find the cause of error by bisecting our Dagger setup. Because in Dagger setups everything is interconnecte

[2022-03-03 20:32] cckroets commented on #72
Keep us posted @dmitry-ryadnenko-izettle. I did sanity check that the dex-test-parser tests pass with a vanilla build of 7.1.2, compileSdkVersion 31, and R8 enabled. I'm interested to hear what in the Dagger setup is causing this.

[2022-03-08 14:35] dmitry-ryadnenko-izettle commented on #72
@kkoser @cckroets

Alright. So I managed to figure out that the exception (trying to read beyond buffer's limits, `BufferUnderflowException`) is thrown while trying to run `DexFile.getClassAnnotationValues()` on this interface

[code]

Where `ClassTokenAnnotation` is this.

[code]

I'm not sure though that these class definitions are 100% the same as in my code. I found class names while debugging

[2022-03-08 17:08] dmitry-ryadnenko-izettle commented on #72
I think I have a fix. Please check the PR above.

[2022-03-08 20:56] cckroets commented on #72
Thanks for the detailed investigation, will take a look at the PR.

It's interesting that those classes from `annotation-tools` are on the test's runtime classpath, rather than just on the annotation-processor or some other tooling classpath.

Assuming you are using Gradle, if you don't expect that they should be there, you can run `./gradlew androidDependencies` to try and debug why they are bein

[2022-03-08 23:21] cckroets commented on #72
Thanks for fixing!

Fixed by #73

[2022-03-08 23:21] #72 closed